body {
    background-image: linear-gradient(to right bottom, #0c0c0d, #363c44, #5c737e, #82b0b7, #b3f0e8);
    background-attachment: fixed; /* Makes the background static */
    background-size: cover; /* Ensures the gradient covers the whole viewport */
    background-position: center; /* Centers the background */
    margin: 0;
    padding: 0;
  }
  *{  color: white;}
  
  .landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: transparent;
    text-align: center;
  }
  
  .enter-button {
    background-color: #008ede;
    color: white;
    padding: 10px 20px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
  }
  
  .enter-button:hover {
    background-color: #005f9e;
    transform: scale(1.05);
  }
  .fade-background {
    transition: background 1s ease-in-out;
  }
  