.pagination .button {
    width: 32px;
    height: 32px;
    background-color: #c2f9fb;
    border-radius: 10px;
    box-shadow: rgba(44, 154, 187, 0.1) 1px -15px 10px -10px inset,
      rgba(44, 165, 187, 0.1) 0 1px 2px, rgba(44, 118, 187, 0.1) 0 2px 4px,
      rgba(44, 187, 99, 0.1) 0 4px 6px, rgba(44, 158, 187, 0.1) 0 6px 12px,
      rgba(44, 165, 187, 0.1) 0 10px 8px;
    color: rgb(115, 171, 223);
    cursor: pointer;
    display: flex;
    
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 2vh;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 5px; /* Add margin between pagination buttons */
  }
  
  .pagination .button:hover {
    box-shadow: rgba(41, 147, 235, 0.2) 0 -25px 18px -14px inset,
      rgba(54, 195, 219, 0.15) 0 1px 2px, rgba(75, 168, 255, 0.15) 0 2px 4px,
      rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 158, 187, 0.15) 0 8px 16px,
      rgba(44, 165, 187, 0.15) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
  
  .pagination .active {
    background-color: rgb(115, 171, 223);
    color: #fff;
  }
  
  .pagination{
    display: flex;
    align-items: center; 
    
    

  
  }
  .button{
    align-items: center;
    justify-content: center;
    
  }